clases/Lenguaje/XSD/ejercicio26y27.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="alumno" type="datos" />
        <xs:complexType name="datos">
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>